@import 'ember-paper';
@import 'bootstrap';

.nav-contents {
  padding-top: 10px;
}

.nav-text {
  color: white;
}

.jumbotron {
  background-color: #bce8f1;
}

.form-control {
  padding: 30px;
  font-size: 18px;
}

.panel-heading {
  background-color: #bce8f1;
}

.navbar-default {
  background-color: #bce8f1;
}

.detail {
  width: 36%;
  display: inline-block;
  padding: 10px 15px 0 0;
  margin: 0;
  font-weight: 300;
  font-style: italic;

  span {
    font-style: default;
    font-weight: 500;
  }
}
